@import "tailwindcss";

body,html{
    height : 100%; 
    width : 100%;
}

#root{
    height : 100%
}

@theme{
    --color-main-black : #181818;
    --color-dark-gray : #1C1C1C;
    --color-note-blue : #312EB5;
    --color-background : #FFFFFF0D;
    --color-white60 : #FFFFFF99;
    --color-white3 : #FFFFFF08;
}